{{ partial "htmlopen" . }}

{{ partial "siteheader" . }}

<main class="Layout-body">
    <section class="Container Grid">
	{{ range .Data.Pages }}
	<article class="Grid-item Card">
	    <a href="{{ .Permalink }}" class="Card-link">
		{{if .Params.image}}
		<img src="{{.Params.image}}" alt="{{.Title}}" class="Card-media" loading="lazy">
		{{end}}
		<h3 class="Card-title">{{ .Title }}</h3>
	    </a>
	</article>
	{{ end }}
    </section>
</main>

{{ partial "htmlclose" }}
