{{ partial "htmlopen" . }}

{{ partial "siteheader" . }}

<main class="Layout-body">
    <section class="Container VGrid">
	{{ range (sort .Data.Pages ".Params.date_release" "desc") }}
	<article class="VGrid-item Card Card--collection">
	    <a href="{{ .Permalink }}" class="Card-link">
		{{ if .Params.gallery }}
		{{ partial "image-gallery" .Params.gallery }}
		{{ else }}
		{{ if .Params.image }}
		<img src="{{.Params.image}}" alt="{{.Title}}" class="Card-media" loading="lazy">
		{{end}}
		{{end}}

		<h3 class="Card-title">{{ .Title }}</h3>
		{{ if .Params.description_short }}
		<div>
		    {{ .Params.description_short }}
		</div>
		{{ end }}
	    </a>
	</article>
	{{ end }}
    </section>
</main>

{{ partial "htmlclose" }}
