{{ $allArticles := where .Site.RegularPages "Section" "articles" }}
{{ $selectedArticles := sort (where $allArticles "Params.collection" .Params.id ) "Title" }}

{{ partial "htmlopen" . }}

{{ partial "siteheader" . }}

<section class="Layout-body">
    <article class="Single">
	{{ if .Params.gallery }}
	<aside>
	    {{ partial "image-gallery" .Params.gallery }}
	</aside>
	{{ end }}

	<div class="Container">
	    <h3 class="Title">
		<a href="{{ .Permalink }}">
		    {{ .Title }}
		</a>
	    </h3>
	</div>

	<main class="Content Container">
	    {{ .Page.Content}}
	</main>
    </article>
</section>

{{ if (gt (len $selectedArticles) 0) }}
<section>
    <!-- <p class="Container">
	 Articles in this collection:
	 </p> -->
    <div class="Grid Grid--small Grid--articles">
	<div class="Grid-item">
	    <strong class="Card">Articles</strong>
	</div>
	{{ range (sort $selectedArticles ".Params.date_release" "desc") }}
	<div class="Grid-item">
	    {{ partial "article-card" . }}
	</div>
	{{ end }}
    </div>
</section>
{{ end }}

{{ partial "htmlclose" }}
